.root {
  -fx-background-color: #ffffff;
}

.toolbar {
  -fx-background-color: #69a8a8;
  -fx-padding: 15;
  -fx-spacing: 10;
}

.settings {
  -fx-background-color: #ba99cb;
  -fx-padding: 15;
  -fx-spacing: 10;
}

.entry {
  -fx-background-color: #a8a369;
  -fx-padding: 15;
  -fx-spacing: 10;
}


.patternPane {
  -fx-border-color: #000000;
  -fx-border-width: 1;
}

.addRowPane {
  -fx-border-color: #9d2424;
  -fx-border-width: 1;
}

.patternPane {
  -fx-background-color: #44d773;
}